.login {
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  width: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #075353;
  margin-bottom: 10px;
  text-shadow: rgba(236, 236, 236, 0.4) 0px 54px 149px;

  /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
}
.loginDesc {
  font-size: 24px;
  padding-right: 10px;
  color: #05343a;
  font-weight: 600;
  font-style: normal;
}

.loginBox {
  height: 280px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.loginInput {
  height: 50px;

  border: 1px solid gray !important;
  font-size: 18px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
  border: 1px solid #1775ee;
  background-color: #fff;
}
.loginButton:disabled {
  cursor: not-allowed;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #2e51b5;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.loginButton:hover {
  color: #1775ee;
  border: 1px solid #1775ee;
  background-color: #1774ee23;
}

.loginForget {
  text-align: center;
  color: #1775ee;
  cursor: pointer;
}

/* 
.loginRegisterButton:hover {
	color: #42b72a;
	border: 1px solid #42b72a;
	background-color: #42b72a25;
} */

.registerNew {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #453197;
}

.loginRegisterButton {
  margin-left: 12px;
}

@media (max-width: 780px) {
  .loginWrapper {
    flex-direction: column;
    width: 80%;
  }
  .loginDesc {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
