.navbar_css {
  background-color: #3834b0 !important;
  padding-top: 0px;
  height: 58px !important;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  width: 100%;
  display: block;
  box-shadow: none;
  transition: top 0.3s;
}

.topbarLeft {
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 34px;
  color: white;
  cursor: pointer;

}

.topbarCenter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
}

.topbarRight {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 0px 40px;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: #fff;

  position: absolute;
  top: 6px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logout a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logout a:hover {
  color: #fff !important;
  text-decoration: none;
}

.logout a .MuiSvgIcon-root {
  margin-left: 4px;
}

.displayFriendRequest {
  position: absolute;
  right: 18%;
  top: 105%;
  z-index: 1;
  min-width: 250px;
  max-width: 400px;
  padding: 10px 10px;
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #243b55,
      #141e30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #4a6088);

  color: white;
  display: flex;

  overflow-y: scroll;

  flex-direction: column;
  border-radius: 8px;

  -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  z-index: 1000;

  cursor: pointer;
  animation: animate 0.3s;
  min-height: 150px;
  max-height: 400px;
}

.norequest {
  padding: 20px;
  margin-bottom: 20px;
  align-self: center;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  .topbarLeft {
    width: 0;
  }

  .topbarCenter {
    width: 60%;
    padding-left: 0px;
    margin-left: 0px;
    justify-content: space-between;
  }

  .topbarRight {
    width: 40%;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }

  .MuiSvgIcon-root {
    font-size: 12px;
  }

  .logout a .MuiSvgIcon-root {
    margin-left: 4px;
  }

  .MuiPaper-root {
    margin: 0;
    padding: 0;
  }
}

.MuiToolbar-regular {
  min-height: none !important;
}