.post {
  white-space: pre-wrap;
  background-color: white;
  margin-bottom: 30px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgb(8 21 66 / 5%);
  box-shadow: 0 0 20px rgb(8 21 66 / 5%);
  width: 85%;
  display: inline-block;
  max-width: 700px;

}

.postTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0fbfc;
  flex-direction: row;
  height: 70px;
  padding: 16px 30px;
  border-bottom: 1px solid #e0fbfc;

  /* background-color: #cfe2ff; */
}

.postTopLeft {
  display: flex;

  color: linear-gradient(to right, #005c97, #363795) !important;
}

.postTopLeft a {
  text-decoration: none !important;
}

.postText {
  padding: 5px 10px;
  font-style: normal;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 500;

  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  white-space: pre;
}

.postTopRight {}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserName {
  display: block;
  font-size: 1em;
  color: #002691 !important;
  font-weight: bold;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 0px;
}

.postImage {
  width: 100%;
  object-fit: cover;
  background-position: center;
  margin-bottom: 15px;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #edeff1;
  padding: 3px 0px;
  height: 50px;
}

.postBottomLeft {
  display: flex;
  align-items: center;

  margin: 5px 10px;
}

.likeIcon {
  margin-right: 5px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 300ms;
}

.likeIcon:hover {
  transform: scale(1.2);
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}


@media(max-width:700px) {
  .post {
    width: 100%;
  }
}