.communityFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #edeff1;
    border-radius: 0.25em;

}

.communityFriendName {
    color: #0095f6;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
    font-weight: 600;
}